.main {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.half {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 10px;
}

.left {
    display: flex;
    flex-direction: column;
    width: 45%;
}
.right {
    display: flex;
    flex-direction: column;
    width: 55%;
}
.priceLay {
    display: flex;
    padding: 4px 5px;
    position: relative;
}
.right .priceLay {
    justify-content: space-between;
}
.priceLay label {
    padding-left: 5px;
    cursor: pointer;
}
.inputs {
    min-width: 300px;
    width: 60%;
    margin-left: 10px;
    padding: 5px 9px;
    border: 1px solid #CCC;
    border-radius: 4px ;
    box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,0.1);
}
.invis {
    display: none;
}
